body, form input, textarea{
    background-color: rgb(22, 22, 22);
    color: white;
    border-color: white;
    margin-left: 0px;
}
.white-mode {
    background-color: white;
    color: black;
    border-color: black;
}
.white-mode .botao2 {
    background-color: #d6d6d6;
}
form{
    /* margin-top: 1px; */
    float: left;
    /* display: inline-block; */
    text-align: right;
}

a{
    color: white;
    text-decoration: none;
}

.botao {
    float: right;
    /* display: inline-block; */
    padding: 10px 20px; /* Ajuste o espaçamento interno conforme necessário */
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border: 2px solid #000; /* Cor e espessura da borda */
    border-radius: 5px; /* Raio da borda para arredondar as extremidades */
    background-color: #fff; /* Cor de fundo */
    color: #000; /* Cor do texto */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transições suaves ao passar o mouse */
}
.botao2
{
    display: inline-block;
    padding: 2px 5px; /* Ajuste o espaçamento interno conforme necessário */
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 5px; /* Raio da borda para arredondar as extremidades */
    background-color: #6a6a6a; /* Cor de fundo */
    color: #000; /* Cor do texto */
    cursor: pointer;
    font-size: 14px;
}

.botao:hover {
    background-color: #000; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
    border-color: #fff; /* Cor da borda ao passar o mouse */
}

/* table td {
    border: 1px solid black;
    height: 14px;
    padding: 2px;
} */
form input{
    font-size: 0.9em;
    padding: 0;
    padding-left: 1px;
    border-width: 1px;
    border-radius: 5px;
    width: 20%;
}
form table tr td{
    gap: 0;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    justify-content: flex-end;
    text-align: right;
}
table{
    float: left;
    font-size: 1em;
}

#myTable tr td{
    text-align: center;
    /* font-size: 13.3px; */
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}
#larquivo{
    margin-left: 10px;
}

/* border-spacing: 2px; */